.fixed-top-right {
  position: fixed;
  top: 0;
  right: 0;
}

.fixed-bottom-right { 
  position: fixed; 
  bottom: 0;     
  right: 0;       
}
    body {
    backround-color: white;
    }
   h2 { 
   color: black;
   font-size: 25px; 
   } 
   h1 { 
      color: black;
   text-align: center;
   font-size: 30px; 
   }
   h3 {
      color: black;
   font-size: 10px;
} 
